
body{
	background-color:#f5f5f5;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	background-color: #011e29;
	color:white;
	padding:2vw;
	text-align:center;
	
}
.main{
	display:flex;
    	
}
.latest_news{
	height:130px;
	width:240px;
	background-color:white;
	border-radius:12px;
	text-align:center;
	margin-left:20px;
	
	padding-top:1px;
	box-size:border-box;
}
.main_article{
	height:200px;
	width:270px;
	background-color:white;
	border-radius:12px;
	text-align:center;
	margin-left:20px;
	padding:9px;
}
.img_news{
	height:370px;
	width:240px;
	margin-left:20px;
	background-color:white;
	border-radius:12px;
	display:flex;
	flex-direction:column;
	align-item:center;
	text-align:center;
	
}
img{
	height:90px;
	width:150px;
	margin:9px;
	margin-inline:auto;
}








